{% extends "ElectionBundle:Default:design.html.twig" %}

{% block body %}
    <div class="col-md-6">
        {% for election in elections %}
            <a href="{{ path("election_election", {"id": election.id}) }}">{{ election.name }}</a><br/>
        {% endfor %}
    </div>
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}